* {
    margin: 0;
    padding: 0;
    max-width: 100%;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    overflow-x: hidden; /* Evita rolagem horizontal */
}

.container {
    max-width: 100%; /* Garante que o contêiner não exceda a largura da tela */
    padding: 0 15px;
}

.hero {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh; /* Ocupa a altura total da tela */
    overflow: hidden; /* Evita overflow horizontal */
}

.background-left,
.background-right {
    flex: 1; /* Ajusta para preencher o espaço disponível */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; /* Evita repetição de imagem */
}

.background-left {
    background-image: url('../img/imagem-esquerda.png');
}

.background-right {
    background-image: url('../img/imagem-direita.png');
}

.background-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.geometric-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.logo {
    width: 100px;
    height: auto;
    cursor: pointer;
}

span {
    color: #000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: none;
    padding: 10px 20px;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    padding: 10px 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    transition: 0.4s;
}

nav ul li a:hover {
    transform: scale(1.2);
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
}

.content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
}

h1 {
    color: #D8B192;
    margin: 20px 0;
    font-size: 75px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

h3 {
    color: #000;
    font-size: 25px;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

h4 {
    color: #000;
    letter-spacing: 2px;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.social {
    display: flex;
    justify-content: center;
}

.social a {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D8B192;
    border-radius: 50%;
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: .5s;
}

.social a:hover {
    transform: scale(1.3);
    color: #D8B192;
    background-color: #ffffff;
    border: 2px solid #D8B192;
    cursor: pointer;
}

.about {
    width: 100%;
    padding: 80px 0;
    background-color: #D8B192;
}

.about img {
    width: 100%;
    max-width: 680px;
    height: auto;
}

.about-text {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
}
.main {
    width: 100%;
    max-width: 1130px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.about-text h2 {
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.about-text h5 {
    color: white;
    letter-spacing: 2px;
    font-size: 21px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p {
    color: #000;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

.about-text a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.about-text a:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
    box-shadow: 4px 4px 8px #000000;
}

.servicos {
    padding: 60px 0;
    background-color: #fff;
    background-image: url('../img/background_servicos.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden; /* Evita overflow horizontal */
}

.servicos::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.servicos .main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box; /* Inclui padding na largura total */
}

.servicos-text {
    width: 100%;
    max-width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicos-text h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #D8B192;
}

.servicos-text h2 span {
    color: #987A3C;
}

.servicos-text p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
    margin-bottom: 20px;
}

.servicos img {
    width: 35%;
    max-width: 45%;
    height: auto;
    border-radius: 10px;
}

/* Seção de Overlay */

.full-screen-image {
    background-image: url('../img/botao_intagram.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    padding: 50px 0;
    overflow: hidden; /* Evita overflow horizontal */
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.center-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 80px;
    background-color: #fff;
    color: #D8B192;
    text-decoration: none;
    font-size: 25px;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-align: center;
}

.center-button i {
    font-size: 30px;
    margin-bottom: 10px;
}

.center-button:hover {
    color: #fff;
    background-color: #D8B192;
    box-shadow: 4px 4px 8px #000000;
}

.contato {
    padding: 50px 0;
    background-color: #fff;
    background-image: url('../img/background_contato.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden; /* Evita overflow horizontal */
}

.main-contato {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box; /* Inclui padding na largura total */
}

.main-contato img {
    width: 100%;
    max-width: 45%;
    border-radius: 10px 0 0 10px;
}

.contato-text {
    padding: 40px;
    text-align: center;
    flex: 1;
}

.contato-text h2 {
    font-size: 36px;
    color: #D8B192;
    margin-bottom: 30px;
}

.contato-text h5 {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
}

.contato-text p {
    font-size: 24px;
    color: #000;
    font-weight: bold;
    margin-bottom: 30px;
}

.styled-button {
    padding: 15px 30px;
    background-color: #D8B192;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: inline-block;
}

.styled-button:hover {
    color: #D8B192;
    background-color: #fff;
    box-shadow: 2px 4px 4px 4px #D8B192;
}

footer {
    background-color: #D8B192;
    color: #fff;
    padding: 10px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
    text-align: center;
}

.container-logo-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo-footer {
    max-width: 150px;
}

.container-texto-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container-redes-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container-redes-footer a {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 50%;
    margin: 0 10px;
    color: #D8B192;
    text-decoration: none;
    font-size: 20px;
    transition: .5s;
}

.container-redes-footer a:hover {
    transform: scale(1.3);
    color: #fff;
    background-color: #D8B192;
    border: 2px solid #fff;
    cursor: pointer;
}


/* Media Queries para telas muito pequenas */
@media (max-width: 768px) {
    .background-center {
        display: none;
    }
    .background-right {
        flex: 150px;
    }
    .social a {
        border: 2px solid #D8B192;
        background: #fff;
        color: #D8B192;
    }
    .content {
        left: 14%;
    }
    nav {
        padding: 10px 20px 10px 20px;
    }

    nav ul {
        flex-direction: column;
    }

    .about img {
        max-width: 100%;
    }

    .about-text {
        text-align: center;
    }
    span {
        margin-left: auto;
        color: #000;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    }
    .servicos .main {
        flex-direction: column;
    }
    .servicos-text {
        max-width: none;
    }
    .servicos img {
        max-width: none;
        width: 80%;
    }
    .full-screen-image {
        min-height: 400px; /* Ajusta a altura mínima */
        padding: 20px; /* Ajusta o padding */
    }

    .center-button {
        padding: 40px 80px; /* Ajusta o padding */
        font-size: 25px; /* Ajusta o tamanho do texto */
    }

    .contato-text {
        padding: 20px;
        text-align: center;
    }
    .contato-text h2 {
        font-size: 26px;
    }
    .main-contato img {
        display: none;
    }
    .container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .row {
        flex-wrap: wrap;
        justify-content: center;
    }

    .col-3, .col-6 {
        flex: 0 0 auto;
        max-width: none;
        width: auto;
        margin: 10px; /* Espaçamento entre os elementos */
        text-align: center; /* Centraliza o texto dentro da coluna */
    }

    .logo-footer {
        display: none;
    }
    .container-texto-footer,
    .container-redes-footer {
        justify-content: center;
    }
}
